/*    Victor Roque lage                       RA: 03221062
        2 - Crie um programa HTML/CSS, onde:
    A) Tenha uma div, que:
A1) Tenha cor de fundo lilás (utilize o RGB);
A2) Tenha 250 pixels de altura;
A3) Ocupe toda a largura do body;
A4) Tenha a renderização (display) dos seus elementos filhos como “flexíveis”;
A5) Justifique o conteúdo no centro, para que os elementos filhos fiquem centralizados dentro desse elemento, verticalmente;
    B) Tenha uma segunda div, que:
B1) Seja filha da div A);
B2) Tenha cor de fundo rosa (utilize o #hexadecimal);
B3) Ocupe toda a altura do elemento pai;
B4) Tenha 250 pixels de largura;
B5) Tenha uma borda de qualquer estilização, de cor vermelha, com largura de 20 pixels;       
    C) Tenha uma terceira div, que:
C1) Seja filha da div A);
C2) Tenha cor de fundo verde-água;
C3) Tenha a altura de 88 porcento do elemento pai;
C4) Tenha a largura de 30 porcento do elemento pai;*/

.div_a{
    background-color: rgb(231, 120, 241);
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.div_a .div_b{
    background-color: #FFCBDB;
    height: 100%;
    width: 250px;
    border: 20px red dotted;
}
.div_a .div_c{
    background-color: aquamarine;
    height: 88%;
    width: 30%;
}